Theory Questions

In [ ]:

#1 What are data structures, and why are they important.
#ans Data structure is a way to storing the data so that it can be accessed easily and manipulated efficiently.

#2 Explain the difference between mutable and immutable data types with examples.
#ans Mutable are those objects whose values can be changed after creation. e.g. list, dict, set.
#    immutable are those objects whose values cannot be changed after creation. e.g. int, float, bool, str, tuple.

#3 What are the main differences between lists and tuples in Python.
#ans List - You can store anything in the list can store heterogeneous data also, list can be modified after creation
#    Tuples - In tuples you can also store any type of data but turples are cannot be modified after creation.

#4 Describe how dictionaries store data.
#ans dictionaries which stores the data in the form of key value pairs only. e.g {"course" : "da"}

#5 Why might you use a set instead of a list in Python.
#ans A set and a list are both used to store collections of items, but sets automatically remove duplicate values, while lists allow duplicates Use case: When you need a collection of unique items.

#6 What is a string in Python, and how is it different from a list.
#ans String is a sequence of character represent and manipulated textual data. In string each characters are represented using numerical value. Use a string when working with text that doesn’t need modification because strings are immutable objects & Use a list when dealing with multiple elements that may change.

#7 How do tuples ensure data integrity in Python.
#ans A tuple in Python is an immutable sequence, meaning once it is created, its elements cannot be modified, added, or removed. This immutability helps ensure data integrity by preventing accidental changes.

#8 What is a hash table, and how does it relate to dictionaries in Python.
#ans A hash table (also called a hash map) is a data structure that stores key-value pairs. It uses a hash function to compute an index (hash code) for each key. Python's dictionary (dict) is built using a hash table, allowing for efficient key-based lookups.

#9 Can lists contain different data types in Python.
#ans Yes, you can store anything in the list can store heterogeneous data also, list can be modified after creation.

#10 Explain why strings are immutable in Python.
#ans Strings are immutable for memory efficiency, performance, hashability, and thread safety. Instead of modifying a string, Python creates a new string whenever changes are made.

#11 What advantages do dictionaries offer over lists for certain tasks.
#ans Use dictionaries when you need fast lookups, key-value storage, and unique identifiers. A dictionary allows direct access by key, making the code more readable. Use lists when you need ordered data, duplicates, or sequential processing.

#12 Describe a scenario where using a tuple would be preferable over a list.
#ans Use a tuple when data should not change. Imagine you're making a weather app. You need to store the names of the days of the week because they never change. Lists allow changes, which can lead to mistakes.

#13 How do sets handle duplicate values in Python.
#ans In Python, sets automatically remove duplicate values. If you add the same value multiple times, it will only be stored once in the set. Sets work like a collection of unique items, making them useful when you need to remove duplicates automatically.

#14 How does the “in” keyword work differently for lists and dictionaries.
#ans When used with lists, the "in" keyword checks if a given element is present as a value within the list.  When used with dictionaries, the "in" keyword checks if a given key is present within the dictionary.

#15 Can you modify the elements of a tuple? Explain why or why not.
#ans We cannot modify the element of a tuples because tuples are immutable.
#Data Integrity: Immutability ensures that the data within a tuple remains constant throughout its lifespan, preventing accidental or unintended modifications.
#Performance: Immutable objects can be optimized for performance by the Python interpreter, as they do not need to be checked for changes.
#Hashability: Tuples, being immutable, can be used as keys in dictionaries and elements in sets, which require their keys and elements to be hashable (have a fixed hash value).

#16 What is a nested dictionary, and give an example of its use case.
#ans A nested dictionary is simply a dictionary that contains other dictionaries as values. This allows you to create hierarchical data structures to represent complex relationships.

#Use case of dictionary
#Imagine you want to store information about students in a class. You could use a nested dictionary where each key represents a student's name, and the value associated with that key is another dictionary containing the student's details like age, grade, and address.

#17 Describe the time complexity of accessing elements in a dictionary.
#ans Accessing elements in a dictionary using a key has an average time complexity of O(1), also known as constant time. This means that the time it takes to access an element does not depend on the size of the dictionary.

#18 In what situations are lists preferred over dictionaries.
#ans Lists are preferred over dictionaries when you need to store duplicate values, when you need to perform operation based on index & when you need to iterate through elements.

#19 Why are dictionaries considered unordered, and how does that affect data retrieval.
#ans Dictionaries are unordered collections but from phyton ner ver. 3.7 dictionaries retain the ordered this means that if you iterate ove a dic. the item will be returned in the ordered.

#20 Explain the difference between a list and a dictionary in terms of data retrieval.
#ans Data Retrieval: Lists use indexing for data retrieval. You access elements by their position within the list, starting from index 0 for the first element.
#    Data Retrieval: Dictionaries use keys for data retrieval. You access values by providing their corresponding keys.

#Therefore, if you need to access elements based on their position or need to maintain order, lists are preferable. However, if you need fast lookups by key and want to store data in a key-value structure, dictionaries are the better choice.

Practical Questions

In [ ]:
#1 Write a code to create a string with your name and print it.

a = "Tarun"
print(a)

Tarun

In [ ]:
#2 Write a code to find the length of the string "Hello World".

a = "Hello World"
len(a)

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".

a = "Python Programming"
a[0:3:]

'Pyt'

In [ ]:
#4 Write a code to convert the string "hello" to uppercase.

a = "hello"
a.upper()

'HELLO'

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

a = "I like apple"
a.replace("apple", "orange")

'I like orange'

In [ ]:
#6 Write a code to create a list with numbers 1 to 5 and print it.

a = list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].
list_1 = [1,2,3,4]
list_1.append(10)
print(list_1)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1 = ['a', 'b', 'c', 'd']
list1[1]

'b'

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
A = (100,200,300)
print(A)

(100, 200, 300)

In [ ]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple1 = ('red', 'green', 'blue', 'yellow')
tuple1[-2]

'blue'

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

Tuple1 = (10,20,5,15)
min(Tuple1)

5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tupl1 = ('dog', 'cat', 'rabbit')
tupl1.index("cat")

1

In [ ]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple1 = ("apple", "mango", "banana")
if "kiwi" in tuple1:
  print("kiwi in my tuple1")

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {"a", "b", "c"}
print(s)

{'a', 'c', 'b'}

In [ ]:
#17 write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1,2,3}
b = {3,4,5}
c = a|b
print(c)

{1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1,2,3}
b = {2,3,4}
c = a&b
print(c)

{2, 3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict_1 = {"Name":"Tarun", "Age": "24", "City": "Ghaziabad"}
print(dict_1)

{'Name': 'Tarun', 'Age': '24', 'City': 'Ghaziabad'}

In [ ]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict_1 = {'name': 'John', 'age': 25}
dict_1["country"] = "USA"
print(dict_1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict_1 = {'name': 'Alice', 'age': 30}
dict_1["name"]

'Alice'

In [ ]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
if "city" in d:
  print(d)

{'name': 'Alice', 'city': 'Paris'}

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them.

my_list = [1, 2, 3, "apple", "banana"]

my_tuple = (10, 20, 30, "orange", "grape")

my_dictionary = {"name": "John", "age": 30, "city": "New York"}

print(my_list)
print(my_tuple)
print(my_dictionary)

[1, 2, 3, 'apple', 'banana']
(10, 20, 30, 'orange', 'grape')
{'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

list_1 = [1,99,66,44,23]
list_1.sort()
print(list_1)

[1, 23, 44, 66, 99]

In [ ]:
#28 Write a code to create a list with strings and print the element at the third index.
list_1 = ["car", "bike", "truck", "plane"]
print(list_1[3])

plane

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result.

d = {"course" : ["ds", "da"]}
d1 = {"Name" : "Tarun", "Age" : "24"}
d.update(d1)
print(d)

{'course': ['ds', 'da'], 'Name': 'Tarun', 'Age': '24'}

In [ ]:
#30 Write a code to convert a list of strings into a set.
list_1 = ["car", "bike", "truck", "plane"]
s = set(list_1)
type(s)

set

In [ ]:
s

{'bike', 'car', 'plane', 'truck'}